#mainDiv{
    position: relative;
    top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#mainDiv > #mainHeader{
    box-shadow: 1px 1px 2px #FF5200, -1px -1px 2px #FF5200;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#mainDiv > #contectDiv{
    display: flex;
    gap: 20px;
    width: 100%;
}

#contectDiv > #btns{
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#btns > Button{
    background-color: white !important;
    color: black;
    border: none;
    border-radius: 0px;
    box-shadow: 1px 1px 1px silver, -1px -1px 1px silver;
}

#btns > Button:hover{
    
    font-size: larger;
    background-color: #FF5200 !important    ; 
}



#contectDiv > #mainRight{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
}

#mainRight > #sreachBarDiv{
    padding: 10px;
    
}

#mainRight > #cardContainor{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    
}



@media (max-width: 767px) {

    #mainDiv{
        display: flex;
        flex-direction: column;
    }

    #contectDiv{
        display: flex;
        flex-direction: column;

    }

    #contectDiv > #btns{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    #contectDiv > #mainRight{
        width: 100%;
    }


  }
  